.task-input {
    margin-right: 20px;
    width: 300px;
}

.container-fluid {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    color:rgba(172, 1, 1, 0.288);
}

.task-input {
    border:none;
}

button {
    background: rgba(247, 75, 75, 0.849)
}